* {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, .body-text-sm, .link14, .btn-primary-sm-default, .body-text-sm--bold, .body-text, .link16, .btn-primary-lg-default {
  font-family: "Montserrat", sans-serif !important;
}

.card-container {
  background-color: #E5E5E7;
  min-width: 400px;
  height: 300px;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  scroll-snap-align: center;
  border-right: 15px solid white;
}

.card-container:first-of-type {
  scroll-snap-align: start;
}

.card-container:last-of-type {
  scroll-snap-align: end;
}

.card-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-overlay {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: transparent;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: transparent;
}
.card-overlay:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #E5E5E7;
  transition: background-color 0.1s ease-in-out;
}

body, .body-text-sm, .link14, .btn-primary-sm-default, .body-text-sm--bold, .body-text, .link16, .btn-primary-lg-default {
  letter-spacing: 0;
  color: #012B55;
  font-family: "Montserrat", sans-serif;
}

.H01, .H01--bold {
  font-weight: 400;
  font-size: 56px;
  line-height: 115%;
  letter-spacing: 0.04em;
}
.H01--bold {
  font-weight: 700;
}
@media (max-width: 576px) {
  .H01, .H01--bold {
    font-size: 36px;
  }
}

.H03, .link48-t, .H03--bold {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.04em;
}
.H03--bold {
  font-weight: 700;
}
@media (max-width: 576px) {
  .H03, .link48-t, .H03--bold {
    font-size: 30px;
  }
}

.H04, .link24-t, .H04--bold {
  font-weight: 400;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: -0.04em;
}
.H04--bold {
  font-weight: 700;
}
@media (max-width: 576px) {
  .H04, .link24-t, .H04--bold {
    font-size: 24px;
  }
}

.H05 {
  font-weight: 400;
  font-size: 30px;
  line-height: 125%;
  letter-spacing: 0.02em;
}
@media (max-width: 576px) {
  .H05 {
    font-size: 18px;
  }
}

.H06, .link24 {
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -0.04em;
}
@media (max-width: 576px) {
  .H06, .link24 {
    font-size: 16px;
  }
}

.H07, .link18-logo--bold, .link18, .link18-logo, .H07--bold {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}
.H07--bold {
  font-weight: 700;
}

.H08 {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.body-text, .link16, .btn-primary-lg-default {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.body-text-sm, .link14, .btn-primary-sm-default, .body-text-sm--bold {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.body-text-sm--bold {
  font-weight: 700;
}

.btn, .btn-primary-lg-default, .btn-primary-sm-default {
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-primary, .btn-primary-lg-default, .btn-primary-sm-default {
  border: 1px solid #012B55;
  border-radius: 2px;
  background-color: transparent;
}
.btn-primary:hover, .btn-primary-lg-default:hover, .btn-primary-sm-default:hover {
  background-color: #012B55;
  color: #E5E5E7;
  transition: background-size 0.25s ease-in;
}
.btn-primary:active, .btn-primary-lg-default:active, .btn-primary-sm-default:active {
  background-color: #012B55;
  color: #E5E5E7;
  transition: background-size 0.25s ease-in;
}
.btn-primary:disabled, .btn-primary-lg-default:disabled, .btn-primary-sm-default:disabled {
  background-color: #E5E5E7;
  color: #A0A0A1;
  transition: background-size 0.25s ease-in;
}

.btn-primary-sm-default {
  padding: 11px 23px 12px 23px;
}

.btn-primary-lg-default {
  padding: 13px 23px 14px 23px;
}
@media (max-width: 576px) {
  .btn-primary-lg-default {
    padding: 11px 23px 12px 23px;
    font-size: 14px;
  }
}

.link, .link48-t, .link24-t, .link24, .link18, .link18-logo, .link16, .link14 {
  border-bottom: 1px solid #012B55;
  text-decoration: none;
}
.link:hover, .link48-t:hover, .link24-t:hover, .link24:hover, .link18:hover, .link18-logo:hover, .link16:hover, .link14:hover {
  background-image: linear-gradient(120deg, #D3AB42 0%, #D3AB42 100%);
  background-repeat: no-repeat;
  background-size: 100% 10px;
  background-position: bottom;
  transition: background-size 0.25s ease-in;
  border: none;
}

.link18, .link18-logo {
  border: none;
}

.link18-logo--bold {
  font-weight: 700;
}
.link18-logo:hover {
  background-image: none;
  border: none;
}

.link24:hover {
  background-position: 0 90%;
}

.link24-t {
  border: none;
}
.link24-t:hover {
  background-position: 0 86%;
}

.link48-t {
  border: none;
}
.link48-t:hover {
  background-position: 0 85%;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-grid-margin40 {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin: 0 40px;
}

.nav-hidden {
  display: flex;
  padding: 20px 40px;
  justify-content: flex-end;
}

.nav-full {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.footer-layout {
  background-color: #E5E5E7;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  flex-direction: row;
}
@media (max-width: 992px) {
  .footer-layout {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 120px;
  }
}

.footer-info {
  gap: 30px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .footer-info {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.footer-media {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer-media {
    padding-top: 4px;
  }
}

.intro-wrapper {
  display: flex;
  height: 100vh;
  min-width: 280px;
}
@media (max-width: 768px) {
  .intro-wrapper {
    flex-direction: column;
  }
}

.banner {
  flex: 1 0 50%;
}

.intro-gallery {
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/tamaga-website.appspot.com/o/projects%2Fkra-1.jpg?alt=media&token=dfec6744-7b83-4014-ab33-612acda900a4");
}
@media (max-width: 768px) {
  .intro-gallery {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.intro-content-layout {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
}

.intro-content-wrapper {
  flex: 1 0 50%;
  display: flex;
}

.intro-content {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  gap: 80px;
}
@media (max-width: 0) {
  .intro-content {
    gap: 40px;
  }
}

.intro-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-wrapper {
  padding: 180px 0;
  grid-column: col-start 2/span 10;
}
@media (max-width: 576px) {
  .section-wrapper {
    padding: 120px 0;
  }
}
@media (max-width: 992px) {
  .section-wrapper {
    grid-column: col-start 1/span 12;
  }
}

.slider-wrapper {
  grid-column: col-start 1/span 12;
}

.main-press {
  grid-column: col-start 2/span 10;
  padding: 150px 0 40px 0;
}
@media (max-width: 768px) {
  .main-press {
    grid-column: col-start 1/span 12;
    padding: 80px 0 40px 0;
  }
}

.main-press-text {
  grid-column: col-start 2/span 4;
}
@media (max-width: 768px) {
  .main-press-text {
    grid-column: col-start 1/span 12;
    margin-bottom: 40px;
  }
}

.main-press-description {
  margin: 30px 0 40px 0;
  max-height: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}
@media (max-width: 768px) {
  .main-press-description {
    margin: 20px 0 20px 0;
  }
}

.press-read-more {
  float: right;
}

.main-press-image {
  grid-column: col-start 7/span 5;
  aspect-ratio: 4/3;
  max-height: 390px;
}
@media (max-width: 768px) {
  .main-press-image {
    grid-column: col-start 1/span 12;
    max-height: auto;
    width: 100%;
  }
}

.main-press-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.message-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.message-img {
  max-height: 80%;
  max-width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=index.css.map */