.card-container {
  background-color: $grey100;
  min-width: 400px;
  height: 300px;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  scroll-snap-align: center;
  border-right: 15px solid white;
}

.card-container:first-of-type {
  scroll-snap-align: start;
}
.card-container:last-of-type {
  scroll-snap-align: end;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.card-overlay {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: transparent;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: transparent;


  &:hover {
    background-color: rgba(0,0,0,0.4);
    color: $grey100;
    transition: background-color 0.1s ease-in-out;
  }
}
