$blue100: #BBCCDD;
$blue200: #A4B8CC;
$blue300: #8DA4BB;
$blue400: #305377;
$blue500: #012B55;

$yellow100: #F2E6C6;
$yellow200: #EDDDB3;
$yellow300: #E5CD8E;
$yellow400: #DCBC68;
$yellow500: #D3AB42;

$grey100: #E5E5E7;
$grey200: #DDDDDF;
$grey300: #CBCCCE;
$grey400: #BABBBE;
$grey500: #A9AAAE;

$dark-grey100: #B3B3B3;
$dark-grey200: #A0A0A1;
$dark-grey300: #7C7C7C;
$dark-grey400: #575758;
$dark-grey500: #323233;

$validated: #42CE40;
$error: #DA4040;
