//font size
$font-size14: 14px;
$font-size16: 16px;
$font-size18: 18px;
$font-size24: 24px;
$font-size30: 30px;
$font-size36: 36px;
$font-size48: 48px;
$font-size56: 56px;

//font-weight
$font-weights400: 400;
$font-weights600: 600;
$font-weights700: 700;

//line-height
$font-lh115: 115%;
$font-lh120: 120%;
$font-lh125: 125%;
$font-lh140: 140%;

//letter-spacing
$font-ls-2: 0.04em;
$font-ls2: 0.02em;
$font-ls-25: -0.02em;
$font-ls-4: -0.04em;




