.intro-wrapper {
  display: flex;
  height: 100vh;
  min-width: 280px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
  
.banner {
  flex: 1 0 50%;
}

.intro-gallery {
  overflow: hidden;
  // position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://tamagastudio.pl/images/banner.jpg");
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.intro-content-layout {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
}

.intro-content-wrapper {
  flex: 1 0 50%;
  display: flex;
}

.intro-content {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display:flex;
  flex-direction: column;
  padding:  0 $spacing40;
  gap: $spacing80;
}

.intro-text {
  display: flex;
  flex-direction: column;
  gap: $spacing20;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(12,[col-start] 1fr);
  column-gap:$spacing20;
  margin: 0 $spacing40;
}

.section-wrapper {
  padding: $spacing180 0;
  grid-column: col-start 2/ span 10;
}

.slider-wrapper {
  grid-column: col-start 1/ span 12;
}

.main-press {
  grid-column: col-start 2/ span 10;
  padding: $spacing180 0 $spacing40 0;
}

.main-press-text {
  grid-column: col-start 2/ span 4;
}

.main-press-description {
  margin: $spacing30 0 $spacing40 0;
  max-height: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.press-read-more {
  float: right;
}

.main-press-image {
  grid-column: col-start 7/ span 5;
  aspect-ratio: 4/3;
  max-height: 390px;
}

.main-press-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


