.single-project-description {
  @include content-half-responsive();
  grid-column: col-start 9 / span 5;
}

.single-project-gallery-section {
  margin-top: $spacing80;
  margin-left: $spacing40;
  grid-column: col-start 1 / span 13;
  height: 60svh;

  @include sm {
    display: none;
  }
}

.single-project-gallery-section-mobile {
  margin-top: $spacing80;

  @include s {
    display: none;
  }
}

swiper-container {
  width: 100%;
  height: 100%;
}