.section-wrapper {
  margin: $spacing180 0;
  grid-column: col-start 2 / span 10;

  @include md {
    grid-column: col-start 1 / span 12;
  }
  @include lg {
    margin: $spacing120 0;
  }
}

.promoted-project-wrapper {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  @include lg {
    height: 100%;
  }

  &--mobile {
    @include lg {
      display: none;
    }
  }

  &--down {
    @extend .promoted-project-wrapper;
    justify-content: end;

    &--web {
      margin-top: 40px;
      @include l {
        display: none;
      }
    }
  }
}

.press-read-more {
  margin-left: auto;
}

.main-press-img {
  max-height: 500px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
