@use "sass:list";
@use "sass:math";

.gallery-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.projectList-card-title {
  padding-top: $spacing20;
  @include sm {
    padding-top: $spacing10;
  }
}

.gallery {
  gap: $spacing20;
  justify-content: center;

  @include s {
    grid-auto-rows: 100px;
    aspect-ratio: 3 / 4;
  }

  @include xl {
    grid-auto-rows: 80px;
  }

  @include lg {
    grid-auto-rows: 60px;
  }

  @include md {
    grid-auto-rows: minmax(auto, 380px);
    row-gap: 60px;
    grid-column: 1/13;
  }

  @include sm {
    grid-auto-rows: 220px;
  }
}

.gallery div {
  border-radius: 4px;
}


@for $i from 1 through 100 {
  $sixthElement: round($i / 6);

  .gallery div:nth-child(#{$i}) {
    @if $i % 6 == 1 {
      grid-column: 1/ 7;
      grid-row: list.slash(($i + ($sixthElement * 7)), span 4);
    } @else if $i % 6 == 2 {
      grid-column: 8 / 13;
      grid-row: list.slash(($i * 2 + $sixthElement), span 3);
    } @else if $i % 6 == 3 {
      grid-column: 1 / 6;
      grid-row: list.slash(($i * 2 + $sixthElement - 1), span 3);
    } @else if $i % 6 == 4 {
      grid-column: 7 / 13;
      grid-row: list.slash(($i * 2 + $sixthElement - 1), span 4);
    } @else if $i % 6 == 5 {
      grid-column: 1 / 6;
      grid-row: list.slash(($i * 2 + $sixthElement - 1), span 3);
    } @else if $i % 6 == 0 {
      grid-column: 8 / 13;
      grid-row: list.slash(($i * 2 + $sixthElement), span 3);
    }

    @include md {
      grid-column: 1/13;
      grid-row-start: auto;
      grid-row-end: auto;
    }
  }
}
