.contact-layout {
  background-color: $grey200;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-wrapper {
  @include content-grid();
  margin: 0 $spacing40;
  width: 100%;
}

.contact-section {
  grid-column: col-start 1/ span 12;
  @include content-grid();
  grid-auto-flow: dense;
}

.contact-info {
  grid-column: col-start 8/ span 4;
  @include lg {
    grid-column: col-start 2/ span 10;
    margin-bottom: $spacing40;
  }
  @include md {
    grid-column: col-start 1/ span 12;
    margin-bottom: $spacing40;
  }
}

.contact-title {
  grid-column: col-start 8/ span 4;
  margin: $spacing120 0 $spacing40 0;
  @include lg {
    grid-column: col-start 2/ span 10;
  }
  @include md {
    grid-column: col-start 1/ span 12;
    margin: $spacing80 0 $spacing40 0;
  }
}

.contact-text {
  margin-bottom: $spacing30;
}

.main-contact-text {
  margin-bottom: $spacing120;
}

.contact-form{
  grid-column: col-start 2/ span 5;
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing120;

  @include lg {
    grid-column: col-start 2/ span 10;
    width:100%;
  }
  @include md {
    grid-column: col-start 1/ span 12;
    width:100%;
  }
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing30;
}

.input-form {
  padding: 14px 16px 15px 14px;
  border-radius: 4px;
  border: 1px solid $grey500;
  margin: 8px 0;
}

.form-button {
  width: 100%;
}

.input-error {
  @include body-text-xs();
  color: $error;
}
