.footer-layout {
  background-color: $grey100;
  padding: $spacing40;
  display: flex;
  justify-content: space-between;
  margin-top: $spacing180;
  flex-direction: row;
  @include lg {
    padding: $spacing24;
  }
  @media (max-width: $lg) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: $spacing30;
    margin-top: $spacing120;
  }
}

.footer-info {
  gap: $spacing30;
  display: flex;
  flex-direction: row;
  @include md {
    flex-direction: column;
    align-items: center;
    gap: $spacing10;
  }
}

.footer-media {
  display: flex;
  gap: $spacing20;
  @media (max-width: $md) {
    padding-top: 4px;
  }
}

