@import "./ContactSection/ContactForm";

.footer-layout {
  background-color: $grey100;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: $spacing40;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  @include lg {
    padding: $spacing24;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: $spacing30;
  }
}

.footer-info {
  gap: $spacing30;
  display: flex;
  flex-direction: row;
  @include md {
    flex-direction: column;
    align-items: center;
    gap: $spacing10;
  }
}

.footer-media {
  display: flex;
  gap: $spacing20;
  @include md {
    padding-top: 4px;
  }
}

