//underline
$link-border-primary: 1px solid $blue500;
$link-border-hover: 10px solid $yellow500;

@mixin link {
  border-bottom: $link-border-primary;
  text-decoration: none;
  display: inline-block;

  &:hover{
    background-image: linear-gradient(120deg, $yellow500 0%, $yellow500 100%);
    background-repeat: no-repeat;
    background-size: 100% 10px;
    background-position: bottom;
    transition: background-size 0.25s ease-in;
    border: none;
  }
}

.link14 {
  @include link();
  @include body-text-sm();
}

.link16 {
  @include link();
  @include body-text();
}

.link18 {
  @include link();
  @extend .H07;
  border: none;
}

.link18-logo {
  @extend .link18;

  &--bold {
    @extend .H07;
    font-weight: $font-weights700;
  }
  &:hover{
    background-image: none;
    border: none;
  }
}

.link24 {
  @include link();
  @extend .H06;
  &:hover{
    background-position: 0 90%;
  }
}

.link24-t {
  @include link();
  @extend .H04;
  border: none;
  &:hover{
    background-position: 0 86%;
  }
}

.link48-t {
  @include link();
  @extend .H03;
  border: none;
  &:hover{
    background-position: 0 85%;
  }
}

