@import "./BurgerMenu/_BurgerMenu";

.nav-full {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: $spacing20 $spacing40;
  @include sm {
    padding: $spacing20 $spacing24;
  }
}

.nav-base {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 2;
}

.nav-open {
  color: $grey100;
}

.hidden {
  display: none;
}

.nav-links {
  display: flex;
  gap: $spacing40;

  @include sm {
    display: none;
  }
}

.nav-links-toggle {
  display: flex;
  gap: $spacing40;
  flex-direction: column;
  align-items: flex-start;
  padding: $spacing24;
  padding-top: $spacing120;
  transition: transform 1s ease-in-out;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  color: $grey100;
  background: $blue500;
  transition: all .5s ease-in-out;

  @include s {
    display: none;
  }
}

.nav-contact {
  position: absolute;
  bottom: $spacing24;
  color: $grey100;
  display: flex;
  flex-direction: column;
  gap: $spacing10;
}