.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
}

@mixin content-grid {
  display: grid;
  max-width: 1440px;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: $spacing20;
}

.content-grid-margin40 {
  @include content-grid();
  margin: 0 $spacing40;
  @include sm {
    margin: 0 $spacing24;
  }
}

.content-grid-margin24 {
  @include content-grid();
  margin: $spacing180 $spacing24;
}

.content-margin-180 {
  margin: $spacing180 0;
}

.content-margin-120-40-lg {
  @include lg {
    margin: $spacing120 0 $spacing40 0;
  }
}

.content-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: $spacing120;
  margin-bottom: $spacing180;

  @include sm {
    margin-top: $spacing120;
    margin-bottom: $spacing120;
  }

  @include xxl {
    margin-top: $spacing180;
    margin-bottom: $spacing180;
  }

  &--column {
    @extend .content-wrapper;
    flex-direction: column;
  }
}

///layout half half:
@mixin content-half-responsive {
  display: flex;
  flex-direction: column;
  width: 100%;
  object-fit: cover;

  @include lg {
    grid-column: col-start 2 / span 10;
  }
  @include md {
    grid-column: col-start 1 / span 12;
  }
}

.content-half-left-small {
  @include content-half-responsive();
  grid-column: col-start 2 / span 4;
  @include lg {
    margin: $spacing120 0 $spacing40 0;
  }
}

.content-half-left-big {
  @include content-half-responsive();
  grid-column: col-start 2 / span 5;
}

.content-half-left-big-full {
  @include content-half-responsive();
  grid-column: col-start 1 / span 6;
}

.content-half-right-small {
  @include content-half-responsive();
  grid-column: col-start 8 / span 4;
  @include lg {
    margin: $spacing120 0 $spacing40 0;
  }
}

.content-half-right-big {
  @include content-half-responsive();
  grid-column: col-start 7 / span 5;
  @include lg {
    margin: $spacing40 0 $spacing120 0;
  }
}

.content-half-title {
  margin-bottom: $spacing40;
}

.content-half-text {
  margin: $spacing30 0 $spacing40 0;
  max-height: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;

  @include md {
    margin: $spacing20 0 $spacing20 0;
  }
}
